h1.apptitle
{
    background-color: #729671;
    text-align: center;
}

div.block h2 {
    background-color: #729671;
    color : white;
    text-align: center;
    font-style: italic;
}

body {
    background-color: #D2E3AA;
}

div.block.blockcontent {
    background-color: #E3E3E3;
}

div.liens {
    position: relative;
    left: 20%;
    bottom: 20px;
    border: dashed 1px #000;
    border-radius: 10px;
    width: 90px;
    text-align: center;
    height: 35px;
    font-weight: normal;
    font-style: normal;
}

div#logo img{
    position: absolute;
    top: 35%;
    left: 60%;
}

a[id$="supprimer"] {
    color: green;
    font-style: italic;
}

div.blockcontent li:nth-child(2n) {
    font-weight: bold;
}

div.blockcontent li:nth-child(2n+1) {
    font-style: italic;
}